<launch>
	<arg name="serialdev" default="/dev/ttyUSB0" />
	<arg name="device" default="/dev/video0" />

	<!--カメラノード起動-->
	<node name="uvc_camera" pkg="uvc_camera" type="uvc_camera_node" output="screen">
      <param name="device" type="string" value="$(arg device)"/>
      <param name="width" type="int" value="640"/>
      <param name="height" type="int" value="480"/>
	  <remap from="/image_raw" to="/image"/>	<!-- /image_rawを/imageに変更 -->
    </node>

	<!-- OpenCV 顔認識ノード起動 -->
	<include file="$(find opencv_apps)/launch/face_detection.launch"/> <!-- このノードはデフォルトで/imageを食べる -->

	<!-- KOMACOコントロールノード起動 -->
	<node name="face2happy" pkg="kumaco_control" type="face2happy" output="screen"/>

	<!-- vsrc_connectノード起動 -->
	<node name="vsrc_connect" pkg="ros2vsrc" type="vsrc_connect" output="screen">
		<param name="serialdev" value="$(arg serialdev)"/>
	</node>

</launch>